.col {
  margin: 0;
  padding: 0;
}
.navbar {
  min-width: 100%;
  background-color: #005baa;
  margin: 0;
  padding: 0;
  height: 80px;
}
.navbar-brand {
  padding: 0px 0px 0px 31px;
}
.navbar-brand img {
  height: 46px;
}
div.navbar.navbar {
  justify-content: flex-start;
  min-width: 50%;
}
.navbar-text {
  color: #fff;
  margin-top: 10px;
  font-weight: 400;
}
.nav-item:nth-child(2) {
  margin-left: 86px;
}
.row {
  width:100%;
  margin: 0;
  padding: 0;
}

.btn-icon::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
}

.measurements, .reports, .service {
  border-radius: 0;
}
.form-view {
  margin-right:30px;
}
.btn-compact, .btn-week {
  width: 42px;
  height: 38px;
}
.form-view button {
  border-radius: 0px 0px 0px 0px;
}
.form-view button:first-child {
  border-radius: 5px 0px 0px 5px;
}
.form-view button:last-child {
  border-radius: 0px 5px 5px 0px;
}
.form-inline button:not(:last-child) {
  border-right: none;
}
.measurements::before {
  background-image: url(/assets/images/timeline.svg);
  width: 2rem;
  height: 1.5rem;
}
.reports::before {
  background-image: url(/assets/images/reports.svg);
  width: 2rem;
  height: 1.5rem;
}
.reports:hover::before {
  background-image: url(/assets/images/reports-black.svg);
}
.service::before {
  background-image: url(/assets/images/service.svg);
  width: 2rem;
  height: 1.5rem;
}
.service:hover::before {
  background-image: url(/assets/images/service-black.svg);
}
.btn-compact::before {
  background-image: url(/assets/images/button-compact.svg);
  width: 14px;
  height: 20px;
  position: relative;
  top: 2px;
}
.btn-compact:hover::before {
  background-image: url(/assets/images/button-compact-black.svg);
}
.btn-week::before {
  background-image: url(/assets/images/button-week.svg);
  width: 19px;
  height: 14px;
  position: relative;
  top: 1px;
  right: 2px;
}
