<nav class="navbar px-4">
  <div class="navbar d-inline-flex">
    <div class="nav-item d-inline-flex">
      <div class="navbar-brand"><img class="py-2" height="80px" src="assets/images/logo.svg"/></div>
      <div class="navbar-text h4">
        {{ headerText }}
      </div>
    </div>
    <div class="nav-item mt-4">
      <form class="form-inline">
        <button class="btn btn-light btn-icon measurements d-inline-flex justify-content-center align-items-top" type="button">Замеры</button>
        <button class="btn btn-outline-light btn-icon reports d-inline-flex justify-content-center align-items-top" type="button">Отчеты</button>
        <button class="btn btn-outline-light btn-icon service  d-inline-flex justify-content-center align-items-top" type="button">Сервис</button>
      </form>
    </div>
  </div>
  <div class="mt-4 d-inline-flex justify-content-end">
    <form class="form-view form-inline">
      <button class="btn btn-outline-light btn-icon btn-compact justify-content-center align-items-top" type="button"></button>
      <button class="btn btn-light btn-icon btn-week justify-content-center align-items-top" type="button"></button>
    </form>
  </div>
</nav>
