.col {
  margin: 0;
  padding: 0;
}
.navbar {
  min-width: 100%;
  background-color: #005baa;
  margin: 0;
  padding: 0;
  height: 80px;
}
.navbar-brand {
  height: 80px;
}
.navbar.navbar {
  min-width: 50%;
}
.navbar-text {
  color: #fff;
  margin-top: 32px;
}
.nav-item {
  margin-right: 1rem;
}
.row {
  width:100%;
  margin: 0;
  padding: 0;
}

.btn-icon::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 2rem;
  height: 1.5rem;
}

.measurements, .reports, .service {
  border-radius: 0;
}
.btn-compact, .btn-week {
  width: 50px;
  height: 38px;
}
.form-view button {
  border-radius: 0px 0px 0px 0px;
}
.form-view button:first-child {
  border-radius: 5px 0px 0px 5px;
}
.form-view button:last-child {
  border-radius: 0px 5px 5px 0px;
}
.measurements::before {
  background-image: url(/assets/images/timeline.svg);
}
.reports::before {
  background-image: url(/assets/images/reports.svg);
}
.reports:hover::before {
  background-image: url(/assets/images/reports-black.svg);
}
.service::before {
  background-image: url(/assets/images/service.svg);
}
.service:hover::before {
  background-image: url(/assets/images/service-black.svg);
}
.btn-compact::before {
  background-image: url(/assets/images/button-compact.svg);
}
.btn-compact:hover::before {
  background-image: url(/assets/images/button-compact-black.svg);
}
.btn-week::before {
  background-image: url(/assets/images/button-week.svg);
}
