.col {
  border: 1px solid #e0e0e0;
  min-width: 0;
  padding: 5px 5px;
  min-height: 35px;
}
.verified {
  text-align: center;
}
.verified input {
  font-size: calc(0.5rem + 0.3vw);
  height: 25px;
}
