<div class="row" *ngIf="measurement">
  <div class="col">
    <input type="checkbox"/>
  </div>
  <div class="col">
    {{measurement.date}}
  </div>
  <div class="col">
    {{measurement.time}}
  </div>
  <div class="col">
    {{measurement.source}}
  </div>
  <div class="col">
    {{measurement.phase}}
  </div>
  <div class="col">
    {{measurement.voltage}}
  </div>
  <div class="col">
    {{measurement.amperage}}
  </div>
  <div class="col">
    {{measurement.truePower}}
  </div>
  <div class="col">
    {{measurement.reactivePower}}
  </div>
  <div class="col">
    {{measurement.cos}}
  </div>
  <div class="col verified" (click)="setEditable('true')">
    <input #verified
      *ngIf="isEditable"
      (keyup.enter)="update(verified.value)"
      (focusout)="update(verified.value)"
      value="{{measurement.checked}}"
      type="text"
      class="form-control"/>
    <span #icon [hidden]="isEditable" [title]="measurement.checked"></span>
  </div>
</div>
