<div class="container" *ngIf="measurementList">
  <div class="row">
    <div class="col">
      <input class="check" type="checkbox"/>
    </div>
    <div class="col" *ngFor="let title of titles">
      {{title}}
    </div>
  </div>
  <div class="row">
    <div class="col col-12 add-measurement">+ Добавить новый замер</div>
  </div>
  <app-measurement-item
    (verificationChangeEvent)="updateMeasurement($event)"
    [measurement]="measurement"
    *ngFor="let measurement of measurementList"></app-measurement-item>
</div>
