.container {
  width: 100%;
  font-size: calc(0.5rem + 0.3vw);
}
.col {
  border: 1px solid #e0e0e0;
  min-width: 0;
  background-color: #f1f1f1;
  padding: 10px;
}
.col:first-child {
  text-align: center;
}

