#header {
  background-color: wheat;
  width: 100%;
  height: 100px;
}
.container {
  min-width: 100%;
  /* font-size: calc(0.5rem + 0.3vw); */
  padding: 0px 30px;
  margin: 16px 0px;
}
.col-md-6 {
  width: 900px;
}
.col {
  border: 1px solid #e0e0e0;
  min-width: 0;
  background-color: #f1f1f1;
  padding: 10px;
}
#sidebar, #main {
  width: calc(50% - 5px);
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  margin:  0px 0px 16px 0px;
}
#sidebar > div {
  min-width: 440px;
}
#main > div {
  min-width: 1100px;
}
#dragbar {
  background-color: #f2f2f2;
  width: 10px;
  cursor: col-resize;
  display: block;
  padding: 0;
}
#dragbar::before {
  content: "";
  display: block;
  background-repeat: space;
  background-size: 8px 12px;
  background-image: url(/assets/images/dots.svg);
  width: 0.5rem;
  height: 1.5rem;
  position: absolute;
  top: calc(50% - 50px);
}
#panel {
  width:100%;
  border-bottom: 1px solid #f2f2f2;
  padding: 0;
  margin: 0;
}
#footer {
  background-color: PaleGoldenRod;
  width:100%;
  height: 38px;
  bottom:0;
  position:absolute;
}
.h100percent {
  height: calc(100vh - 100px);
}
.top-line {
  display: flex;
  justify-content: space-between;
}
.btn-save {
  background-color: #005BAA;
  font-size: 16px;
  height: 38px;
  min-width: 129px;
}
.btn-save::before {
  background-image: url(/assets/images/save.svg);
  border-color: #005BAA;
  width: 16px !important;
  height: 16px !important;
}
.breadcrumbs {
  margin-bottom: 16px;
}
.breadcrumbs span:not(:first-child) {
  margin-left: 10px;
}
.rtsn {
  margin: 0px 0px 24px 0px;
}
.rtsn::before {
  background-image: url(/assets/images/equipment.svg);
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 5px;
}
.substat::before {
  background-image: url(/assets/images/list.svg);
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.2rem;
  position: relative;
  top: 5px;
}
.substat {
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 6px 12px;
  gap: 8px;
}
.right-link {
  font-size: 24px;
  color: #828282;
}
.h3 {
  font-size: 22px;
  line-height: 29px;
  font-weight: 400;
}
a.nav-link {
  padding: 8px 12px 8px 12px;
  font-size: 16px;
}
a.nav-link.active {
  background-color:#f2f2f2;
}
.form-view-left {
  margin-top: 16px;
}
.form-view-left button {
  border-color: #CED4DA;
  border-radius: 0px 0px 0px 0px;
}
.form-view-left button:first-child {
  border-radius: 5px 0px 0px 5px;
}
.form-view-left button:last-child {
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}
.btn-icon {
  font-size: 15px;
  padding-left: 16px;
}
.btn-icon::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
.btn-list::before {
  background-image: url(/assets/images/table-rows.svg);
}
.btn-statement::before {
  background-image: url(/assets/images/table.svg);
}
.dropdown-area {
  margin: 16px 0px;
  font-size: 16px;
}
.dropdown-area > div {
  display:inline-block;

}
.dropdown-area > div:not(:first-child) {
  margin: 0px 10px;
}
.dropdown-toggle {
  border: 1px solid #CED4DA;
  margin: 0px 10px;
}
.form-check {
  margin: auto 0;
}
.btn-outline-primary {
  color:#005BAA;
  border-color: #005BAA;
}
.form-view-right {
  margin-bottom: 16px;
  font-size: 14px;
}
.form-view-right > button:not(:first-child) {
  margin-left: 16px;
}
.btn-icon-right::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}
.btn-edit::before {
  background-image: url(/assets/images/edit.svg);
}
.btn-checked::before {
  background-image: url(/assets/images/check.svg);
}
.btn-delete::before {
  background-image: url(/assets/images/delete.svg);
}
.btn-line-right {
  justify-content: space-between;
  display: flex;
}
.btn-expand, .btn-view-week {
  border-color:#CED4DA;
}
.btn-expand::before {
  background-image: url(/assets/images/expand.svg);
  margin-right: 0px;
}
.btn-view-week::before {
  background-image: url(/assets/images/view-week.svg);
  margin-right: 0px;
  width: 18px;
}
.btn-group > div {
  margin-left: 16px;
  position: relative;
  bottom: 7px;
}
