<div class="container">
  <div id="panel" class="row mb-3" (mouseup)="mouseup($event)">
    <div id="sidebar" class="col-md-6 mb-3">
      <div class="container">
        <div class="row">
          <div class="col">left table 1 from 3</div>
          <div class="col">left table 2 from 3</div>
          <div class="col">left table 3 from 3</div>
        </div>
      </div>
      <div id="dragbar" (mousedown)="mousedown($event)"></div>
    </div>
    <div id="main" class="col-md-6 mb-3">
      <app-measurement-list></app-measurement-list>
    </div>
  </div>
</div>
<!-- <div class="col-md-6 mb-3">
      <div class="container">
        <div class="row">
          <div class="col">left table 1 from 3</div>
          <div class="col">left table 2 from 3</div>
          <div class="col">left table 3 from 3</div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <app-measurement-list></app-measurement-list>
    </div> -->
